.popup{
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black,.9);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ;
    transition: all .3s ;

    &__content{
        @include absCenter;

        width: 75%;
        background-color: $color-white;
        -webkit-box-shadow: 0 2rem 4rem rgba($color-black, .2);
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        -webkit-transform: translate(-50%,-50%) scale(0) ;
        transform: translate(-50%,-50%) scale(0) ;
        -webkit-transition: all .4s .2s;
        transition: all .4s .2s;

        @include respond(tab-port){
            
        }
    }

    &__left{
        width:33.33333333%;
        display: table-cell;

        @include respond(tab-port){
            
      }
    }

    &__right{
        width: 66.6666666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port){
            
        }
        
    }

    &__img{
        display: block;
        width: 100%;
        display: table;
    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -webkit-column-count: 2;

        column-count: 2;
        -webkit-column-gap: 4rem;
        column-gap: 4rem;
        -webkit-column-rule: 1px solid $color-grey-light-2;
        column-rule: 1px solid $color-grey-light-2;
        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;

        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto; //for this to apply u should define the language in the html code <html lang="en">

        @include respond(tab-port){
            display: contents;
        }
    }

    &:target{
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        -webkit-transform: translate(-50%,-50%) scale(1) ;
        transform: translate(-50%,-50%) scale(1) ;
        opacity: 1;
    }
    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            -webkit-transition: all .3s;
            transition: all .3s;
            line-height: 1;

        }

        &:hover{
            color: $color-primary;
        }
    }
}