body{
    font-family: "Lato", sans-serif;
    color:$color-grey-dark;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        @include respond(phone){
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    
        -webkit-animation-name: moveInLeft;
    
                animation-name: moveInLeft;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out; /*start faster, end slowly/easily */
    
        /*animation-delay: 2s; wait before animation
        animation-iteration-count: 3; number of times animation happen*/
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        -webkit-animation: moveInRight 1s ease-out;
                animation: moveInRight 1s ease-out; 

        @include respond(phone){
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
   
    color: $color-primary;
    letter-spacing: .2rem;
    -webkit-transition: all .2s;
    transition: all .2s;

    @supports (-webkit-background-clip: text) or (background-clip: text){
        background-image: -webkit-gradient(linear,left top, right top,from($color-primary-light) , to($color-primary-dark));
        background-image: linear-gradient(to right,$color-primary-light , $color-primary-dark);
            -webkit-background-clip: text; //this will cut the background as a text shape
            color: transparent; //to display cutted background..we make out text transparent
    }

    @include respond(tab-port){
        font-size: 3rem;
    }
    @include respond(tab-port){
        font-size: 2.5rem;
    }


    &:hover{
        -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
                transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(#000000,.2);
    }

}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}